<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <title>About TB</title>
</head>
<body>
    <h2 class="about">About Tuberculosis</h2>
    <br>
<img src="https://media.discordapp.net/attachments/827166235929870356/1045340413638225980/Pngtreepatients_consult_with_doctors_through_7691107.png?width=1110&height=1110" alt="" style="height:400px; width:400px;">
    
    <p class="about">
Tuberculosis (TB) is a potentially severe infectious disease mainly affecting the lungs. The bacteria that cause tuberculosis are spread from person to person through tiny droplets released into the air via coughs and sneezes. 
<br>
Tuberculosis (TB) is caused by bacteria (Mycobacterium tuberculosis) that most often affect the lungs. Tuberculosis is curable and preventable.
TB is spread from person to person through the air. When people with lung TB cough, sneeze, or spit, they propel the TB germs into the air. To become infected, a person must inhale only a few of these germs.
<br>
About one-quarter of the world's population has a TB infection, which means people have been infected by TB bacteria but are not (yet) ill with the disease and cannot transmit it.
<br>
People infected with TB bacteria have a 5–10% lifetime risk of falling ill with TB. Those with compromised immune systems, such as people living with HIV, malnutrition, or diabetes, or people who use tobacco, have a higher risk of falling ill.
</p>
<br><br>
<h2 class="about">Symptoms</h2>
    <br>
    <p class="about">
        Although your body can harbor the bacteria that cause tuberculosis, your immune system can usually prevent you from becoming sick. For this reason, doctors make a distinction between:
        <ul>

<li>            Latent TB. You have a TB infection, but the bacteria in your body are inactive and cause no symptoms. Latent TB, also called inactive TB or TB infection, isn't contagious. Latent TB can turn into active TB, so treatment is essential. </li>
<li>
Active TB. Also called TB disease, this condition makes you sick and, in most cases, can spread to others. It can occur weeks or years after infection with the TB bacteria.
Signs and symptoms of active TB include:</li>
<ul>
<li>Coughing for three or more weeks</li>
<li>Coughing up blood or mucus</li>
<li>Chest pain, or pain with breathing or coughing</li>
<li>Unintentional weight loss</li>
<li>Fatigue</li>
<li>Fever</li>
<li>Night sweats</li>
<li>Chills</li>
<li>Loss of appetite</li>
</ul>
</ul>
</p>

<br><br>
<h2 class="about">
    Treatment
    </h2>
    <p class="about">
TB is a treatable and curable disease. Drug-susceptible TB disease is treated with a standard 4-month or 6-month course of 4 antimicrobial drugs that support the patient by a health worker or trained treatment supporter. Without such support, treatment adherence is more complicated.

Since 2000, an estimated 74 million lives have been saved through TB diagnosis and treatment.
</p>

<br><br>
<h2 class="about">
    Key Facts
    </h2>
    <p class="about">
        <ul>
<li>     A total of 1.6 million people died from TB in 2021 (including 187 000 people with HIV). TB is the 13th leading cause of death worldwide and the second leading infectious killer after COVID-19 (above HIV/AIDS).</li>
<li>    In 2021, an estimated 10.6 million people fell ill with tuberculosis(TB) worldwide. Six million men, 3.4 million women, and 1.2 million children. TB is present in all countries and age groups. But TB is curable and preventable.</li>
<li> In 2021, 1.2 million children fell ill with TB globally. Health providers often overlook child and adolescent TB, which can be challenging to diagnose and treat.</li>
<li> In 2021, the 30 high TB-burden countries accounted for 87% of new TB cases.
Multidrug-resistant TB (MDR-TB) remains a public health crisis and a health security threat. Only about one in three people with drug-resistant TB accessed treatment in 2020.</li>
</ul>
</p>

<br><br>
<h2 class="about">
    FAQs
    </h2>
    <p class="about">
<b>
Who is at risk for tuberculosis?</b> <br>
Persons who are at high risk for TB infection include people who: have been in close contact with a person with tuberculosis disease; immigrated from or spent a considerable amount of time in a country where there are high rates of TB; are homeless; inject drug; are living with HIV infection; live in congregate settings and have a medical condition that weakens the immune system. 
<br>
<b>
How is someone diagnosed with tuberculosis?</b> <br>
A chest x-ray or CT scan and a sputum sample are needed to determine if a person has TB disease.  
<br>
<b>
Does having tuberculosis in the past make a person immune?</b> <br>
People treated for TB infection or TB disease can become infected again. 
<br>
<b>
What can be done to prevent the spread of tuberculosis?</b><br>
People with TB disease should be excluded from school, daycare, or the workplace until the sputum is negative (about 2-4 weeks after the beginning of treatment). All household and close contacts of a person with active TB disease should be screened using the TB skin test or blood test for evidence of infection. A physician should evaluate all contacts with evidence of infection or illness.
<br>

</p>
<br><br><br>
</body>
</html>